@using Consulting.WebClient.Helpers
@model IEnumerable<Consulting.Models.ConsultingProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Проекты компании</h1>

@if (Context.Session.IsAdminUser())
{
    <p>
        <a asp-action="Create">Добавить проект</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @if (Context.Session.IsAdminUser())
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { Id = item.Id })
                        <text> | </text>
                        @Html.ActionLink("Подробности", "Details", new { Id = item.Id })
                        <text> | </text>
                        @Html.ActionLink("Удалить", "Delete", new { Id = item.Id })
                    } else
                    {
                        @Html.ActionLink("Подробности", "Details", new { Id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
